@-miz-viewport { width: device-width; scale: 1; }
@-mis-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -text-size-adjust: 100%;

  font-size: 100%;
  line-height: 1.3;
  max-width: 1000px;
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}


/* ----------- Typography ---------- */

h1 {
  font-family: 'Assistant', sans-serif;
  font-size: 28px;
}

/* ----------- Links ---------- */

.email-link, .email-link:visited {
  color: #0000ff;
}

a {
	 text-decoration: none;
}

.social-media, .social-media:hover, .social-media:visited {
  color: #000;
}

/* ----------- About ---------- */

header {
  padding: 1rem 0 3.5rem 0;
}

.about-img {
  max-width: 30%;
  padding-bottom: 3rem;
  margin-left: 15rem;
}

.h2, .email {
  margin-left: 4.5rem;
}

h2 {
  font-family: 'Assistant', sans-serif;
 }

.social-media {
  letter-spacing: .02em;
  font-family: 'Assistant', sans-serif;
  margin-left: 4.5rem;
}

footer {
  margin-left: 4.5rem;
}
/* ----------- Small Screen ---------- */

/* ----------- Medium Screen ---------- */

/* ----------- Large Screen ---------- */
